[submodule "processing"]
	path = processing
	url = https://github.com/aeracoop/flone.git
	branch = master
[submodule "legacy-processing-project"]
	path = legacy-processing-project
	url = https://github.com/aeracoop/flone.git
