[submodule "reference/zjusbo-multiwii-remote"]
	path = reference/zjusbo-multiwii-remote
	url = https://github.com/zjusbo/Multiwii-Remote.git
[submodule "reference/aeracoop-flone-processing"]
	path = reference/aeracoop-flone-processing
	url = https://github.com/aeracoop/flone
